# CouchDB local configuration overrides
# Basic setup (standalone, bind address, admin user) is handled by debconf

[chttpd]
enable_cors = true

[cors]
origins = https://nyancad.com, https://www.nyancad.com, http://localhost:8080
credentials = true
methods = GET, PUT, POST, HEAD, DELETE
headers = accept, authorization, content-type, origin, referer, x-csrf-token

[couch_peruser]
enable = true
delete_dbs = true

[chttpd_auth]
cookie_domain = nyancad.com