<!DOCTYPE html>
<html>
<head>
    <title>Welcome to {{ item.domain }}</title>
    <style>
        body {
            width: 35em;
            margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Welcome to {{ item.domain }}</h1>
    <p>If you are seeing this page, the web server is successfully installed and working.</p>
    <p><em>Thank you for using nginx.</em></p>
</body>
</html>