server {
    listen 80;
    listen [::]:80;
    
    server_name {{ item.domain }}{% if item.aliases %} {{ item.aliases | join(' ') }}{% endif %};
    
    {% if item.proxy_pass is defined %}
    location / {
        proxy_pass {{ item.proxy_pass }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_cache_bypass $http_upgrade;
    }
    {% else %}
    root {{ item.document_root }};
    index index.html index.htm index.nginx-debian.html;
    
    location / {
        {% if item.autoindex is defined and item.autoindex %}
        autoindex on;
        autoindex_exact_size off;
        autoindex_localtime on;
        {% endif %}
        try_files $uri $uri/ =404;
    }
    {% endif %}

    # Deny access to hidden files
    location ~ /\. {
        deny all;
    }
}
